<div class="panel panel-default">
    <div class="panel-heading">Todo list
        <button class="close">&times;
        </button>
    </div>
    <div class="panel-body">
        <!-- 性能优化 -->
        <div id="todo-list" class="list-group"></div>
        <form id="new-todo">
            <input type="text" name="todo" placeholder="enter a new todo and press ENTER" autofocus="autofocus"
                   class="form-control"/>
        </form>
    </div>
</div>